.SiderContainer {
    height: 660px;
    width: 200px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    border: solid black 1px;
    border-radius: 8px;
  }
  .menuSider {
    font-size: x-large;
    font-style: italic;
    color: rgb(88, 162, 101);
    transition: 0.3s;

  }
  .menuSider:hover {
    transition: 0.5s;

    cursor: pointer;
    font-size: xx-large;
    color:   rgb(39, 80, 46);
  }
  h1 {
    font-size: 40px;
    font-style: italic;
  }