.logo {
    height: 120px;
    width: 120px;
  }
  @keyframes grow {
    0%, 100% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    50% {
      -webkit-transform: scaleX(1.4);
      transform: scaleX(1.4);
    }
  }
  .logo:hover {
    animation: grow 2s ease-in-out 150ms infinite;

  }
  .footerContainer {
    background-color: rgb(132, 231, 150);
    height: 80px;
    position: absolute;
    bottom: 20px;
    width: 100%;
  }
  
  #footerList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    font-size: 15px;
  }
  