    <div class="produitContainer">
        <div class="loader">
            <div class="loader__card">
                <span class="vert-clair">L</span>
                <span class="vert-clair">A</span>
                <span>-</span>
                <span class="vert">C</span>
                <span class="vert">A</span>
                <span class="vert">V</span>
                <span class="vert">E</span>
                <span class="vert">N</span>
                <span class="vert">E</span>
                <span>-</span>
                <span class="vert-clair">A</span>
                <span>-</span>
                <span class="vert"n>T</span>
                <span class="vert">I</span>
                <span class="vert">N</span>
                <span class="vert">T</span>
                <span class="vert">I</span>
                <span class="vert">N</span>
            </div>
            
        </div>

        
        <div id="produit">
            <div class="affaire">STOP AFFAIRE</div>
            <div class="detailCard">
                <p class="nom">nom:  <span class="cardSpan ">{{this.produit.nom}}</span></p>
                <p>description: <span class="cardSpan">{{this.produit.description}}</span></p>
                <p>prix: <span class="cardSpan">{{this.produit.prix}} €</span></p>
            </div>
            <img class="image" src="{{ this.produit.image}}" alt="photo" > 
            <!-- <p> {{this.data.name}}</p> -->
            
        </div>
    </div>

